<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <link href="{{url_for('static',path='/output.css')}}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vega@5.25.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.16.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.22.2"></script>
</head>
<body>
    <div class="mx-10">
    <div class="grid grid-col-3 gap-10 mt-10">
        <form class="relative col-span-3" hx-post="/post_english_query" hx-target="#iql_query">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">English</label>
            {% block english_query %}
            <textarea name="english_query" rows=2 id="english_query" placeholder="Ask a question" class="resize-none w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>    
            {% endblock %}
            <button id="english_query_button"  type="submit" class="absolute bottom-0 right-1 font-medium text-sm px-3 py-1.5 mb-1 text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200" >Ask</button>
        </form>
        <form id="iql_query" class="relative" hx-post="/post_iql_query" hx-target="#plot">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">InferenceQL</label>
            {% block iql_query %}
            <textarea name="iql_query" rows=13 placeholder="You can edit queries here" class="resize-none w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">{{ iql_query }}</textarea>
            <button type="submit" id="iql_query_button" class="absolute bottom-10 right-1 font-medium text-sm px-3 py-1.5 mb-1 text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200" >Run</button>
            {% endblock %}
        </form>
        {% block plot %}
        <div class="col-span-2 justify-self-end" id="plot" hx-get="/update_plot">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Result</label>
            <div id="vis" />
            <script type="text/javascript">
                var spec = {
                    "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
                    "width": 500,
                    "height": 300,
                    "data": {
                    "url": "/query_result.csv"
                    },
                {% if plot_type == "qq" %}
                "encoding": {
                    "x": {
                        "field": "{{ var1 }}",
                        "type": "quantitative",
                        "scale": {"zero": false}
                    },
                    "y": {
                        "field": "{{ var2 }}",
                        "type": "quantitative",
                        "scale": {"zero": false}
                    }
                    },
                    "mark": {"type": "point", "tooltip": {"content": "data"} }
                {% elif plot_type == "nn" %}
                "encoding": {
                    "x": {
                    "field": "{{ var1 }}",
                    "type": "nominal"
                    },
                    "y": {
                    "field": "{{ var2 }}",
                    "type": "nominal"
                    },
                    "color": {
                    "aggregate": "count",
                    "type": "quantitative"
                    }
                },
                "mark": {"type": "rect", "tooltip": {"content": "data"} },
                "config": {
                    "view": {
                    "stroke": "transparent"
                    }
                }
                {% elif plot_type == "qn" %}
                "mark": {"type": "area", "opacity": .65, "tooltip": {"content": "data"} },
                "transform": [
                {
                    "density": "{{ var1 }}",
                    "groupby": ["{{ var2 }}"],
                    "function": "kde",
                    "extent": {{ var1_extent }}
                }
                ],
                "encoding": {
                "x": {"field": "value", "type": "quantitative", "title": "{{ var1 }}", "scale": {"domain": {{ var1_extent }} } },
                "y": {"field": "density", "type": "quantitative"},
                "color": {"field": "{{ var2 }}", "type": "nominal"}
                },
                {%- endif %}
                };
                var opt = {"renderer": "canvas", "actions": false};
                vegaEmbed("#vis", spec, opt);
                </script>
        </div>
        {% endblock %}
    </div>
    </div>
</body>
</html>