<div class="col-span-6 w-full text-xl font-medium flex items-end text-gray-900 dark:text-white">{{ query1_header | default("English") }}</div>

<div class="col-span-6 row-span-3 relative">
    <div class='loading-indicator absolute space-x-2 justify-center items-center h-full w-full backdrop-blur-sm rounded-sm border border-gray-300'>
        <span class='sr-only'>Loading...</span>
        <div class='h-8 w-8 bg-gray-500 rounded-full animate-bounce [animation-delay:-0.3s]'></div>
        <div class='h-8 w-8 bg-gray-500 rounded-full animate-bounce [animation-delay:-0.15s]'></div>
        <div class='h-8 w-8 bg-gray-500 rounded-full animate-bounce'></div>
    </div>
    <textarea name="english_query" id="english_query" placeholder="{{ english_query_placeholder | default("Please enter an English query") | e }}" class="w-full h-full p-2 text-gray-900 bg-gray-50 rounded-sm border border-gray-300 focus:ring-blue-500 focus:border-blue-500 resize-none"></textarea>
</div>

<div class="col-span-5">
    <input id="query1-file-upload" name="file" type="file" class="block w-full h-full text-sm file:h-full file:mr-4 file:rounded-lg file:border-0 file:bg-blue-700 file:py-1.5 file:px-3 file:text-sm file:font-medium file:text-white hover:file:bg-blue-900 focus:outline-none disabled:pointer-events-none disabled:opacity-60" />
</div>

<button id="english_query_button" type="submit" class="col-span-1 col-start-6 bottom-1 right-1 font-medium text-sm px-3 py-1.5 text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200">Ask</button>